<body>
  <form class="formulario">
     <h1>Registrate</h1>
      <div class="contenedor">
      <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
          <input type="text" placeholder="Primer Nombre" >
          </div>
          <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
          <input type="text" placeholder="Segundo nombre">
          </div>
          <div class="input-contenedor">
              <i class="fas fa-envelope icon"></i>
              <input type="text" placeholder="Primer Apellido" >
              </div>
              <div class="input-contenedor">
                  <i class="fas fa-envelope icon"></i>
                  <input type="text" placeholder="Segundo Apellido" >
                  </div>
                  <div class="input-contenedor">
                      <i class="fas fa-envelope icon"></i>
                      <input type="text" placeholder="usuario">
                      </div>
          <div class="input-contenedor">
         <i class="fas fa-key icon"></i>
          <input type="password" placeholder="Contraseña" >
          </div>
          <div class="input-contenedor">
              <i class="fas fa-envelope icon"></i>
              <input type="text" placeholder="Email" >
              </div>
              <div class="input-contenedor">
                  <i class="fas fa-envelope icon"></i>
                  <input type="text" placeholder="Fecha de nacimiento" >
                  </div>
                  <div class="input-contenedor">
                      <i class="fas fa-envelope icon"></i>
                      <input type="text" placeholder="Fecha de creacion" >
                      </div>
          <input type="submit" value="Registrate" class="button">
          <p><a routerLink="/login">Iniciar Sesión </a></p>
      </div>
     </form>
 </body>